<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ryan's Burgers</title>
    <link rel="stylesheet" type="text/css" href="https://www.jsdelivr.com/package/npm/bulma">
</head>
<body>
    {{{ body }}}
</body>
</html>